* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%
}
.app {
  margin: auto;
  margin-top: 100px;
  width: 830px;
  height: 769px;
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  overflow: hidden;
}
.app > .side-bar {
  width: 70px;
  height: 100%;
  background-color: rgb(76, 76, 76);
}
.app > .chat-list {
  width: 260px;
  height: 100%;
  background-color: rgb(241, 241, 241);
}
.app > .chat-content {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(229, 229, 229);
}
.app > .chat-content > .chat-content-header {
  width: 100%;
  height: 60px;
  background-color: rgb(242, 242, 242);
  border-bottom: rgb(230, 230, 230) 1px solid;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 26px;
}
.app > .chat-content > .chat-content-main {
  flex: 1;
  width: 100%;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
}
.app > .chat-content > .chat-content-input {
  height: 156px;
  width: 100%;
  background-color: rgb(243, 243, 243);
  border-top: 1px solid rgb(226, 226, 226);
}
.app > .chat-content > .chat-content-header > .chat-content-header-title {
  color: rgb(42, 42, 42);
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  padding-left: 20px;
}
.app > .chat-content > .chat-content-header > .chat-content-header-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.black-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(25, 24, 25);
}
.black-dot:not(:last-child) {
  margin-right: 3px;
}
.app > .chat-content > .chat-content-main > .msg-common {
  height: 50px;
  width: 100%;
}
.app > .chat-content > .chat-content-main > div {
  margin: 5px 0;
}
.msg-system-timestamp {
  color: rgb(178, 178, 178);
  font-size: 12px;
  text-align: center;
}
.msg-system-tap {
  color: rgb(183, 183, 183);
  font-size: 12px;
  text-align: center;
}
.msg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
.msg-wrap-other {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}
.msg-wrap-other > img {
  width: 25px;
  height: 25px;
  border-radius: 2px;
}
.msg-wrap-other .msg-username {
  font-size: 0.65em;
  font-weight: 500;
  color: rgb(193, 193, 193);
  padding-left: 8px;
}
.msg-other-right > img {
  display: inline-block;
  margin-top: 10px;
  width: 114px;
  height: 114px;
}
.msg-wrap-self {
  display: flex;
  padding-top: 10px;
  padding-right: 20px;
  align-self: flex-end;
}
.msg-wrap-self > img {
  width: 25px;
  height: 25px;
  border-radius: 2px;
}
.msg-wrap-self > span {
  position: relative;
  background-color: rgb(170, 232, 122);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 12px;
}
.msg-wrap-self > span:after {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  right: -10px;
  content: '';
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: rgb(170, 232, 122);
  border-left-width: 5px;
}
.avatar-common {
  cursor: pointer;
}